*{
    margin: 0;
    padding: 0;
}

p{
    color: #606060;
}
body{
    max-width:1600px;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    background-color: #F3F3F3;
}

/*Header Css */
header{
    padding: 40px;
    background: #FFF8F3;
}
header nav{
    display: flex;
    justify-content: space-between;
    padding: 0 140px;
}
nav h1{
    font-size: 3rem;

}
nav h1 span{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    gap: 20px;
    align-items: center;
}
.primary-btn{
    color: white;
    padding: 16px 20px;
    background-color:#FD6E0A ;
    border: 0;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}
nav ul li {
    list-style: none;
    
}

nav ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #474747;
}

/* banner css */
.banner{
    display: flex;
    align-items: center;
    gap: 40px;
}

.banner-text{
    font-size: 2rem;
    width: 585px;
   
}
.banner-text h1{
    margin: 10px 0;
}
.banner-text p{
    color: #606060;
    font-size: 1.2rem;
    margin:15px 0;
}
.banner-img{
    width: 31%;
    margin-top: 60px;
    margin-left: 180px;
}
.hardy-img{
    position: absolute;
    width: 550px;
    z-index: 1;
    margin-top: 18px;
}
.hCircle-bg{
    position: relative;
    top:138px;
    right: 220px;
}
.btn-contact{
    background-color:#FFF8F3;
    border:1px solid #FD6E0A;
    color: #FD6E0A;
}

/* About-section Css */
.about{
    width: 1140px;
    background-color:#FFF8F3 ;
    margin: 100px auto;
    padding: 60px;
    border-radius: 10px;
}
.about-text{
    text-align: center;
}
.about-text h1{
    font-size: 2rem;
    padding: 20px;
}
.about-text p{
    color: #757575;
}
.info span
{
    color:#757575; ;
}

.info p{
    color: black;
    font-size: 1.2rem;
}
.info{
    display: flex;
    text-align: center;
    gap: 40px;
    justify-content: space-around;
    margin: 50px;
}


/* Experience section Css */
.experience{
    width: 1240px;
    margin: 0 auto;
}
.experience-text{
    text-align: center;
    padding:0 50px;
}
.experience-text h1{
    font-size: 2rem;
    margin: 30px;
}
.expert{
    display: flex;
    gap: 40px;
    margin-top: 20px;
    
}
.expert h3{
    margin: 20px 0;
}
.expert p{
    font-size: 0.9rem;
    margin: 15px 0;
}
.expert-item{
    background-color: #FFFFFF;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

/* Resume */
.resume{
    max-width: 1240px;
    margin: 0 auto;
}
.resume h1{
    text-align: center;
    font-size: 1.8rem;
    margin: 30px 0;
}
.resume-text{
    display: flex;
    gap: 100px;
    color: #474747;
}
.resume-text p{
    padding: 20px 0;
}
.education h1{
    text-align: start;
}

.my-ex-h h1{
    text-align: start;
}